In [100]:
import pandas as pd
data = pd.read_csv('train.csv')
data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [101]:
data = data.drop(['Unnamed: 0', 'id'], axis=1).dropna()

from sklearn.preprocessing import LabelEncoder
for column in ['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']:
    encoder = LabelEncoder()
    data[column] = encoder.fit_transform(data[column])

x = data.drop('satisfaction', axis=1)
y = data['satisfaction']    

data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,0,13,1,2,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,1,25,0,0,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,0,0,26,0,0,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,0,0,25,0,0,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,0,61,0,0,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [102]:
from sklearn.linear_model import Perceptron
trainPer = Perceptron(random_state=0)
trainPer.fit(x.values, y.values)

Perceptron()

In [103]:
dataTest = pd.read_csv('test.csv')
dataTest.head()

dataTest = dataTest.drop(['Unnamed: 0', 'id'], axis=1).dropna()

from sklearn.preprocessing import LabelEncoder
for column in ['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']:
    encoder = LabelEncoder()
    dataTest[column] = encoder.fit_transform(dataTest[column])

x2 = dataTest.drop('satisfaction', axis=1)
y2 = dataTest['satisfaction']

In [104]:

from sklearn.metrics import accuracy_score
accuracy_score(y2.values, trainPer.predict(x2.values))

0.8280616382806164

In [131]:
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier

rbf_feature = RBFSampler(gamma=0.0001, random_state=0)
X_features = rbf_feature.fit_transform(dataTest)

clf = SGDClassifier(max_iter=2000)
clf.fit(X_features,  y2.values)
clf.score(X_features, y2.values)

0.6602942880315144